fastapi
uvicorn[standard]
SQLAlchemy>=1.4
anyio
pydantic
python-dotenv
alembic
pydantic-settings
python-multipart
redis>=5.0.1
aioredis>=2.0.1
aiofiles>=23.2.1
httpx
pydantic[email]
gradio
langchain
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langserve
langsmith
langgraph
bs4